.profile-page {
  min-height: 100vh;
  background-color: #0b0b0b;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: #ffffff;
  padding: 20px;
  position: relative;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: 1px solid #444;
  color: #ccc;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-btn:hover {
  background-color: #222;
  color: #fff;
}

.profile-card {
  max-width: 1000px;
  width: 100%;
  /* background-color: #161616; */
  background-color: #444;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-title {
  margin-bottom: 10px;
  font-size: 2rem;
}

.profile-id {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 20px;
}

.profile-description {
  font-size: 0.95rem;
  color: #ddd;
  line-height: 1.6;
}

.profile-image{
  width: 60%;
  border-radius: 30px;
  margin-top: 10px;
}

a{
  cursor: pointer;
  /* text-decoration: none; */
  /* color: aqua; */
}

.profile-name{
  margin-top: 20px;
  color: #e8e3e3;
}

.logo{
  width: 100px;
  position: relative;
  /* border-radius: 10px; */
  height: auto;
  animation: none;
  transform: rotate(0deg);
}

.logo-div{
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
