.cards-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #0f0f0f;
  min-height: 100vh;
}

.card {
  width: 350px;
  background-color: #1c1c1c;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.55s ease, box-shadow 0.55s ease;
  margin-top: 20px;
  transform: scale(1);
}

.card:hover {
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  max-height: 500px;
}

.card-about{
  height: 150px;
  color: #d0d0d0;
  text-align: justify;
}

.card:hover .card-about{
  display: block;
  overflow: hidden;
}

.card-image {
  width: 80%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  padding: 16px;
}

.card-title {
  margin: 0;
  font-size: 1.4rem;
  color: #ffffff;
}

.card-subtitle {
  
  margin: 6px 0;
  font-size: 0.9rem;
  color: #bbbbbb;
}

.card-about{
  display: none;
  margin-top: 10px;
  font-size: medium;
}

.card-description {
  font-size: 0.85rem;
  color: #d0d0d0;
  line-height: 1.5;
  margin-bottom: 14px;
}

.card-link {
  text-decoration: none;
  font-size: 0.85rem;
  color: #4da6ff;
  font-weight: 500;
  transition: color 0.3s ease;
}
